{% extends "AppSabba/padre.html" %}

{% block titulo %}
<header style="background-image: url(../../../static/AppSabba/assets/img/header-bg1.jpg);" class="masthead ">
    <div class="container">
        <div class="masthead-heading text-uppercase">Resultados de busqueda</div>
    </div>
</header>
{% endblock %} 


{% block listas %}


<table class="table" style="border-color: black; padding: 15px;">
    
    <thead >
      <tr style="text-align: center; font-weight: bold;">
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Nacionalidad</th>
      </tr>
    </thead>

    <tbody>
        {% for x in resultado %}

        <tr style="text-align: center;">
            <td>{{x.nombre}}</td>
            <td>{{x.apellido}}</td>
            <td>{{x.edad}}</td>
            <td>{{x.nacionalidad}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %} 