{% extends "AppSabba/padre.html" %} 

{% block titulo %}
<header style="background-image: url(../../static/AppSabba/assets/img/header-bg4.jpg);" class="masthead ">
    <div class="container">
        <div class="masthead-heading text-uppercase">Quien soy?</div>
    </div>
</header>
{% endblock %} 


{% block listas %}
<div class="container" style="padding: 20px;">
    <p>Hola! Mi nombre es Sabbatini, Martin. Soy estudiante de la facultad de la UTN en la carrera de Ingenieria en Sistemas y tambien estudiante de dos cursos de CoderHouse que son, Python y Desarrollo Web. De la cual, mantengo un interes muy grande en expandir mis conocimientos a otros lenguajes de programacion como Javascript y en otras ramas que va de la mano de la programacion</p>
    <p>Siempre tuve un gran interes en saber como funciona o se arma una pagina, y tambien, como funciona un lenguaje de programacion</p>
    <p>En este sitio web, aprovechando que mi actividad deportiva va dirigido al automolismo, intente crear una pagina que almacene datos de distintos rallys para que cualquier persona con y sin registrarse, puede tener a su alcance. datos de competencias, pilotos o de navegantes participes en este ambiente</p>
    <p>Para crear esta pagina, me base mucho en una pagina existente llamada eWrc, que mantiene el mismo funcionamiento que este sitio web</p>
</div>


{% endblock %}